body, html {
    margin: 0;
    padding: 0;
    background-color: #003366;
    font-family: Arial, sans-serif;
}

.fondo-azul {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cuadro-blanco {
    background-color: white;
    padding: 2.5rem;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.titulo {
    color: #003366;
    margin-bottom: 20px;
}

.naranja { color: #ff6600; }

/* --- Inputs --- */
.input-kinal {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Importante para el responsive */
}

.btn-naranja {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

.btn-gris {
    background-color: #666;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}