.fondo-azul {
    background-color: #003366; 
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.cuadro-blanco {
    background-color: white;
    padding: 30px;
    border-radius: 15px; 
    width: 300px;        
    text-align: center;  
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4); 
}


.titulo {
    color: #003366;
    margin-bottom: 5px;
}


.naranja {
    color: #FF6600;
}


p {
    color: #555;
    margin-bottom: 5px;
    font-size: 14px;
}


.caja-texto {
    width: 100%;           
    padding: 10px;         
    margin-bottom: 15px;   
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.boton-naranja {
    background-color: #FF6600;
    color: white;
    border: none;
    width: 100%;          
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;       
    transition: 0.3s;      
}


.boton-naranja:hover {
    background-color: #e65c00; 
}